@media (pointer: fine) {
  .circle {
    // todo maybe use this later
    //transition: all 300ms ease-out;
    //mix-blend-mode: difference; //for dark and light modes
    transform: translateX(-50%) translateY(-50%);
    position: fixed;
    pointer-events: none;
    z-index: 10000;

    border: solid 0.08rem black;
    border-radius: 50%;
    background-color: var(--baby-powder);
    transition:
            border 0.3s ease-in-out 0.1s,
            background-color 0.3s ease-in-out 0.1s;

    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .circle-transparent {
    background-color: transparent;
    border: transparent;
  }

  .dot {
    border: solid 0.2rem black;
    border-radius: 50%;
    width: 0.01rem;
    height: 0.01rem;
    background-color: var(--eerie-black);
  }
}
