<div class="scroller" style="padding: 10rem 0 10rem">
  <div class="scroll-element">development</div>
  <div class="scroll-element">consulting</div>
  <div class="scroll-element">testing</div>
  <div class="scroll-element">library upgrades</div>
  <div class="scroll-element">development</div>
  <div class="scroll-element">consulting</div>
  <div class="scroll-element">testing</div>
  <div class="scroll-element">library upgrades</div>
  <div class="scroll-element">development</div>
  <div class="scroll-element">consulting</div>
  <div class="scroll-element">testing</div>
  <div class="scroll-element">library upgrades</div>
  <div class="scroll-element">development</div>
  <div class="scroll-element">consulting</div>
  <div class="scroll-element">testing</div>
  <div class="scroll-element">library upgrades</div>
  <div class="scroll-element">development</div>
  <div class="scroll-element">consulting</div>
  <div class="scroll-element">testing</div>
  <div class="scroll-element">library upgrades</div>
</div>
