.layout {
    color: var(--baby-powder);
    font-family: monospace;
    display: flex;
    justify-content: center;
}

.content {
    width: calc(2 / 3 * 100%);
}

div {
    text-align: center;
}

h2, h4 {
    font-family: monospace
}

.short-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vH;
}

.name {
    padding-top: 1.5em;
    //font-family: "Times New Roman", serif;
}

.tech-stack-label {
    font-weight: bold;
}

.text {
    text-align: start;
    padding-bottom: 2em;
}

@media screen and (max-width: 650px) {
    .name {
        font-size: 2.2rem;
    }
    .tech-stack-label {
        font-size: 1.57rem;
    }
}

@media screen and (max-width: 510px) {
    .name {
        font-size: 1.6rem;
    }
    .tech-stack-label {
        font-size: 1.14rem;
    }
}

.contact {
    padding-top: 1.5em;

    a > img {
        width: 2.5rem;
        border-radius: 50%;
        padding: 0.5rem;
    }

    img:hover {
        background-color: var(--baby-powder);
    }
}

.tech-stack-container {
    padding: 2em;
}

.tech-stack-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.tech-stack-grid-row {
    padding-bottom: 0.75em;
}

.java {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    margin-right: 1em;
}

.springboot {
    grid-row: 2 / 2;
    grid-column: 1 / 2;
    margin-left: 1em;
}

.angular {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    margin-right: 1em;
}

.angular-languages {
    // todo add styles
}

.footer {
    padding: 2rem 0 2rem;
}

// scroll to top button
.scroll-to-top {
    bottom: 0;
    cursor: pointer;
    margin: 0 4rem 3rem;
    position: fixed;
    right: 0;
    opacity: 0;
    z-index: 99; /* Make sure it does not overlap */
    border-radius: 50%; /* Rounded corners */
    border: solid black;

    img {
        height: 2rem;
        width: 2rem;
        padding-top: 0.2rem;
    }
}

.show-scroll-to-top {
    opacity: 1 !important;
    background-color: transparent;
    transition: opacity 0.5s ease-in-out;
}

.show-scroll-to-top:hover {
    background-color: var(--baby-powder);
    transition: background-color 0.1s;
}

.contact-form {
    display: flex;
    justify-content: center;
}

.contact-form > teatown-contact-form {
    height: 100%;
    width: calc(2 / 3 * 100%);
}

@media screen and (max-width: 605px) {
    .contact-form > teatown-contact-form {
        width: unset;
    }
}
